<form>
    <div class="st-input__field">
      <!--<label for="food_menu_field">入力</label>-->
      <input id="food_menu_field" type="text" value="" placeholder="食べた物を入力"></input>
      <span class="glyphicon glyphicon-search"></span>

      <div id="food_name" class="text-white">ここに食べ物表示</div>
      <div id="food_calorie" class="text-white">カロリー表示</div>
    </div>
</form>


