<%= form_tag(new_food_history_path, method: "get") do %>
  <div class="st-input__field">
    <div id="food_history_inputs">
      <!--<label for="food_menu_field">入力</label>-->
      <input id="food_menu_field" name="food_history[name]" type="text" value="" placeholder="食べた物を入力"></input>
      <span class="glyphicon glyphicon-search"></span>

      <input id="food_calorie" name="food_history[calorie]" class="text-white" type="text" readonly>
    </div>
  </div>
  <input type="submit" class="btn btn-block btn-primary">
<% end %>
