<div class="st-main__posi center clearfix">

  <h1 class="st-home_title">なに食べた？</h1>

  <%= render 'form' %>

</div>

<div class="st-sinUp__link col-xs-10 col-xs-offset-2">
  <u><%= link_to "え？ほかにも食べた？ >>", new_user_registration_path, class: "text-white" %></u>
</div>
