<header class="memo_bg">
  <span class="masking-tape"></span>
  <h1 class="page-title"><%= t 'food_histories.edit.title_html' %></h1>
</header>

<div class="memo_bg contents">
  <span class="masking-tape blue"></span>
  <%= render 'form' %>
  
  <%= link_to '一覧へ', food_histories_path, class: 'btn btn-block btn-brown' %>
</div>