//staticPage,sessionのbody
.static_pages,
.sessions,
.registrations,
.food_histories,
.users{
  
  main {
      padding-top: 15%;
      padding-bottom: 20%;
      margin-top: 0px;
      background-repeat: no-repeat;
      background-position-y: 100%;
      background-position-x: center;
      background-size: cover;
  }
    
}