// Place all the styles related to the food_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.food_histories {
  &.new{
    main {
      background-image: url(/assets/bg/addFood3.jpg);
      // padding-bottom: 10%;
      // padding-top: 5%;

      .food_histories__area{
        input{
          &[type="text"],
          &[type="datetime-local"],
          &[type="number"],
          &[type="submit"],
          select {
            border-color:#fff;
            color: #fff;
            &::-webkit-input-placeholder{
              color:#fff;
            }
          }
        }
      } 
    }
  }
}

.food_histories{
  
  &__title {
    font-size: 28px;
    margin-bottom: 12px;
  }//.session_title
  
  &__area{

    input[type="text"],
    input[type="datetime-local"],
    input[type="number"],
    select{
      background: transparent;
      border: 0;
      border-bottom: 2px solid #65513f;
      border-radius: 0;
      color:#65513f;
      font-size:16px;
          
      &:focus {
        outline: 0;
      }//[type="text"]:focus,[type="password"]:focus
        
      &::-webkit-input-placeholder{
        color:#65513f;
        font-size:16px;
      }//[type="text"]::-webkit-input-placeholder,[type="password"]::-webkit-input-placeholder

    }//input[type="text"],[type="password"]
          
      input[type="submit"]{
        color: #65513f;
        // display:block;
        // margin:auto;
        // width:80%;
        // padding:12px;
        // background-color: #c7bc23;
        // border-color:#c7bc23;
        
        &:hover,
        &:focus {
          color: #65513f;
        }//[type="submit"]:hover,:focus
          
      }//input[type="submit"]
      
  }//.food_histories__area
  
  &.index,
  &.edit,
  &.show{
    main {
      background-image: url("/assets/bg/popular_bg.jpg");
      background-repeat: repeat;
      background-size: contain;
    }
    .main_container > h1 {
      margin-top: 0;
    }
  }
  
}//.food_histories

h2.calorie_of_day{
  font-size:20px;
  line-height:1.4em;
}


.fo-panel{
  &__bg{
    margin-top:32px;
  }
  .panel{
    &-footer {
      background: #fff;
    }
    &-title {
      font-weight: bold;
      color: #65513f;
      font-size: 18px;
      line-height: 2.2rem;
    }
    &-body{ 
      padding-top: 0;
      
      span:first-child {
        border-bottom: 1px solid #ddd;
        padding-bottom: 2px;
      }
    }
  }
  .fo-panel__info {
    display: block;
    margin: 4px 0;
    font-size: 16px;
    color: #65513f;
    letter-spacing: .1em;
  }
}


.food_histories.index h1.page-title,
.food_histories.edit h1.page-title
{
  /* position: relative; */
  /* background: #F8F0D7; */
  /* border-left: 4px dotted rgba(0, 0, 0, 0.1); */
  /* border-right: 4px dotted rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
  padding: 1em;
  padding-bottom: .5em;
  /* color: #65513f; */
  max-width: 300px;
  margin: auto auto;
  letter-spacing: .1rem;
}
.food_histories.edit{
  .main_container{
     h1.page-title{
      line-height: 1.2em;
     }
  }
}


