.static_pages {
    .header_container{ 
        ul.static-nav {
            li.static-nav__item {
                &:first-child::after {
                    content:"";
                    display:block;
                    border-bottom:2px solid #000;
                    margin:auto;
                    width:60%;
                }
                a:visited{color:#000;}
            }
        }
    }
    
    main {
      background-image: url(/assets/bg/home.jpg);
    }
}


.st-{
    
    &home_title {
        color: #fff;
        font-size: 2em;
        letter-spacing: 8px;
    }

    &main__posi {
        margin: auto;
        width: 100%;
        max-width: 480px;
        position: relative;
    }
    
    &input__field {
        input {
            padding: 10px 12px;
            font-size: 1.5em;
            border-radius: 16px;
            
        }
        span.glyphicon{
            width:100%;

            &.glyphicon-search::before {
                right: 12px;
                bottom: 40px;
                position: absolute;
                font-size: 30px;
            }
        }
    }
}

.st-sinUp__link{
  a {
    display:block;
    margin-top: 24px;
    font-size: 16px;
    text-align: right;
    
    &:visited{
      color:#fff;
    }
  }
}

.baloon-tip {
  margin-bottom:8px;
  background-color: #ffffff;
  padding: 4px 0;
  border: 1px solid #555;
  border-radius: 5px;
  position:relative;
  color: #65513f;
  
  &::before{
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -15px;
    border: 8px solid transparent;
    border-top: 8px solid #FFF;
    z-index: 2;
  }
  &::after{
    content:"";
    position:absolute;
    top: 100%;
    bottom: -30px;
    left: 50%;
    margin-left: -17px;
    border: 10px solid transparent;
    border-top: 10px solid #555;
    z-index: 1;
  }
}
